.list-group.show {
  display: block;
  overflow: visible !important;
  height: auto !important;
}  

.list-group {
  display: none ;
  overflow: hidden !important;
  height: 0 !important;
}

.white-bg {
  background-color: white;
  height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 20px; 
}
.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,0.5);
  z-index: 5;
  padding: 30px;
  visibility : hidden;
  opacity : 0;
  transition: all 1s;
}

.show-modal {
  visibility : visible;
  opacity : 1;
}

.main-bg {
  padding: 100px 20px;
  background: lightgray;
}

.dark {
  background: black;
  color: white;
}